.header-container {
    min-height: 6.7em;

    background-color: #bd3327;

    .nav-wrapper {
        margin-top: 0.4em;


        a {
            color: #CCCCCC
        }

        .logo-wrapper {
            margin-bottom: 0.4em;
        }

        .nav {

            align-self: flex-end;

            li {
                line-height: 2.875em;
            }

        }
    }

    .userbox-col {
        float: right;
        margin: 0.4em 0;
    }
}