.header-container {
    min-height: 7.2em;

    background-color: #bd3327;

    .nav-wrapper {
        margin-top: 0.4em;


        a {
            color: #CCCCCC
        }

        .nav {

            align-self: flex-end;

            li {
                line-height: 2.875em;
            }
        }
    }

    .userbox-col {
        float: right;
        margin: 0.4em 0;
    }
}