.moto-route-details {
    display: flex;
    flex-direction: column;
    height: inherit;

      
    .details-nav {
        background-color: #bd3327;
        border-radius: 5px 5px 0 0;
        flex-direction: row;

        .nav-link {
            color: white;
            font-size: 1.2em;
        }

        .nav-link:first-child {
            margin-left: -1px;
        }

        .options-bar {
            flex: 1;

            .star-rating-container {
                padding-top: 0.25em;
            }

            .nav-link { 
                border: none
            }
            
            .nav-link:hover {
                border: none;
            }
        }
    }

    .details-content {
        flex: 1;
        background-color: white;
        
        padding: 1em 1em;

        overflow-y: scroll;

        position: relative;
        width: 100%;
        top: 0;
        bottom: 0;


    }

}