.moto-route-editor-details-container {
    .form-group {
        margin-bottom: 1em;
    }

    .input-group {
        margin-bottom: 1em;
    }

    .open-all-year-container {
        margin-bottom: 0.4em !important;
    }
}