.moto-route-editor-details-container {
    .form-group {
        margin-bottom: 1em;
    }

    .input-group {
        margin-bottom: 1em;
    }

    .open-all-year-container {
        margin-bottom: 0.4em !important;
    }
}

.moto-route-editor-waypoints {


    .description-container {
        width: 100%;

        .waypoint-title {
            width: 100%;

            .remove-waypoint {
                float: right;
                color: red;
                cursor: pointer;
            }
        }
    }
}