.moto-routes-list {
    background-color: white;
    margin-top: 1.5em;


    &-main {
        max-height: 25.2em;
        overflow-y: auto;

        margin-bottom: 5px;
    }

    &-item {

        border-left: none;
        border-right: none;

        .map-thumbnail-rating-col {
            width: 33%;
            min-width: 10em;

            img {
                // width: 15em;
                // height: 15em;
                width: 100%;
            }

            .map-icon {
                width: 1.3em;
            }
        }
        

        &-description {  
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }
}