.moto-routes-list {
    background-color: white;
    margin-top: 1.5em;


    &-main {
        max-height: 25.2em;
        overflow-y: auto;

        margin-bottom: 5px;
    }

    &-item {

        border-left: none;
        border-right: none;

        .map-thumbnail-rating-col {
            width: 10em;
            min-width: 10em;

            img {
                // width: 15em;
                // height: 15em;
                width: 100%;
            }

            .helmet-rating-container {
                margin-bottom: 0.3em;
            }

            .poi-count-container {

                /* Use monospaced font to retain symmetry */
                font-family: 'Inconsolata';

                .map-icon {
                    width: 1.5em;
                    margin-top: -0.2em;
                    margin-bottom: 0.2em;
                }
            }
        }
        
        .info-col {
            flex-grow: 1;
            padding: 0 0 0 0.5em;

            hr {
                margin: 0.5em 0;

            }

            .info {  
                text-align: justify;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 6;
                overflow: hidden;
            }
        }
    }
}