

.map-details-container {


    .moto-route-map-container { 
        height: 40em;
    }

    .moto-route-details-container { 
        height: 40em;
    }
}

.moto-route-page-comments-container {
    max-height: 35em;
    margin-bottom: 1em;
}


.moto-route-page-list-container {
    max-height: 23.5em;
    margin-top: 1.5em;
}