// .App {
  // text-align: center;
// }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Scrollbar styles */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(107, 107, 116) rgb(255, 255, 255);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(107, 107, 116);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 3px solid rgb(107, 107, 116);
}

/* loading spokes */
.vertical-align-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.loading-placeholder {
  margin: 2em auto;

  fill: #dd5347 !important;
}

/* override bootstrap styles */
.list-group-item.active {
  background-color: #bd3327 ;
  border-color: #bd3327 ;
}

.btn {
  $baseColor: #484545;
  color: $baseColor;

  transition: filter 0.4s;

  &:hover {
    color: $baseColor;
    filter: brightness(85%);
  }
  // &:hover {
  //   background-color: #56423e ;
  //   border-color: #56423e ;
  // }
}