@font-face {
  font-family: 'Lora';
  src: local('Lora'), url(./Fonts/Lora/Lora-VariableFont_wght.ttf) format('truetype'),
       local('Lora'), url(./Fonts/Lora/Lora-Italic-VariableFont_wght.ttf) format('truetype')
  ;
}

@font-face {
  font-family: 'AnonymousPro';
  src: local('AnonymousPro'), url(./Fonts/AnonymousPro/AnonymousPro-Regular.ttf) format('truetype'),
        local('AnonymousPro'), url(./Fonts/AnonymousPro/AnonymousPro-Bold.ttf) format('truetype'),
        local('AnonymousPro'), url(./Fonts/AnonymousPro/AnonymousPro-BoldItalic.ttf) format('truetype'),
        local('AnonymousPro'), url(./Fonts/AnonymousPro/AnonymousPro-Italic.ttf) format('truetype'),
  ;
}

@font-face {
  font-family: 'Incosolata';
  src: local('Incosolata'), url(./Fonts/Inconsolata/Inconsolata-Regular.ttf) format('truetype'),
        local('AnonymousPro'), url(./Fonts/Inconsolata/Inconsolata-Bold.ttf) format('truetype'),
  ;
}


.default-body {
  margin: 0;
  font-family: 'Lora', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background-color: #e8e8e8;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* override bootstrap styles */
$theme-colors: (
  "default": #bd3327,
  "primary": #54bac1,
);


@import '~bootstrap/scss/bootstrap.scss';