.userbox {
    float: right;
    margin-bottom: -0.1em;
}

.loginbox {
    font-size: 1.2em;

    color: white;
    text-align: center;

    padding-bottom: 2.5em;


    .login-header-wrapper {
        text-align: center;
        
        h2 {
            margin-bottom: 0.8em;
        }
    }




    form {
        overflow: hidden;
        max-width: 25em;
        width: 25em;
        
        .form-group {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1em;
            margin-top: 0.2em;


            label {
                margin-right: 0.5em;
            }


            .loginbox-form-control {
                flex-grow: 1;
                font-size: 1em;
                float: right;
                clear: both;

                border-width: 2px;
            }

            .loginbox-form-control.invalid {
                border-color: rgb(255, 166, 0);
            }

            .invalid-prompt {
                color: rgb(255, 166, 0);
            }

        }

        .profile-pic-form-group {

            .avatar-wrapper {
                width: 100%;
                text-align: center;
            }

            label {
                text-align: left;
                width: 100%;
                margin-bottom: 1.5em;
            }

            .profile-pic-controls {
                margin-top: 1em;
                margin-bottom: 1em;
            }


            .zoom-group {
                
                #zoom-label, #zoom-slider {
                    vertical-align: middle;
                }
            }
        }

        .submit-btn-wrapper {
            margin-top: 0.2em;
        }
    }


    .btn {
        font-size: 1.2em;
        font-weight: 600;
        padding: 0.1em 0;
        margin-top: 0.5em;
    }

    .signup-prompt {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0px;
    }
}


.profilebox {
    color: white;
    text-align: right;

    margin-bottom: 0.5em;

    .profile-pic-wrapper {
        width: 4.5em;
        min-width: 4.5em;
        height: 4.5em;
        margin-top: 1em;
    }

    .profile-info-container {
        margin-left: 1em;
        margin-top: 0.8em;


        .profile-other {
            .btn {
                color: white;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            li a {
                color: black;
            }
            
        }
    }
}




/* MODAL BOX STYLES */


.login-signup-modal-overlay {
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000D5; 


    .login-signup-modal {
        display: flex;
        flex-direction: column;

        max-height: 80%;
        width: 40%;
        // min-height: 400px; // this prevents srolling
        min-width: 300px;

        overflow: hidden;

        background-color: #bd3327;
        color: white;
    
        border-radius: 2%;

        padding: 0.25em 1.0em;
        
        .close-modal {
            font-size: 2em;
            cursor: pointer;
        }

        .loginbox-container {
            height: 100%;
            overflow-y: auto;
        }
    }
}




// .btn-primary {
//     color: #56423e;
//     background-color: #54bac1 ;
//     border-color: #54bac1 ;
  
//     &:hover {
//       background-color: #56423e ;
//       border-color: #56423e ;
//     }
//   }