.userbox {
    .loginbox {
        font-size: 0.8em;

        color: white;

        h6 {
            font-size: 0.8em;   
        }


        .login-header-wrapper {
            text-align: center;
            
            h6 {
                font-size: 0.8em;   
            }
        }

        &-form-control {
            font-size: 1em;
            float: right;
            clear: both
        }

        .btn {
            font-size: 1.2em;
            font-weight: 600;
        }

        .signup-prompt {
            text-align: center;
            margin-bottom: 0px;
        }
    }


    .profilebox {
        color: white;
        text-align: right;

        .profile-pic-wrapper {
            width: 6em;
            min-width: 6em;
            height: 6em;
        }

        .profile-info-container {
            margin-left: 1em;


            .profile-other {
                .btn {
                    color: white;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                li a {
                    color: black;
                }
                
            }
        }
    }

}

// .btn-primary {
//     color: #56423e;
//     background-color: #54bac1 ;
//     border-color: #54bac1 ;
  
//     &:hover {
//       background-color: #56423e ;
//       border-color: #56423e ;
//     }
//   }